timezone: Asia/Shanghai
collector:
  enable: false
  mysql: root:root@tcp(localhost:3306)/test?charset=utf8&parseTime=True&loc=Local
push:
  lunch:
    - "0 0 8 * * *"
    - "0 50 11 * * *"
  dinner:
    - "0 0 15 * * *"
    - "0 50 18 * * *"
  preOrder:
    - "0 0 20,21 * * *"
accounts:
#  - username: ""
#    password: ""
#    feiShuWebHook: ""
#    robotKey: ""
#    openID: ""
#    enableAllRobot: true
#    enableWeekendPass: true
#    enableWeekendGreeting: false
feiShu:
#  default:
#    AppID: ""
#    AppSecret: ""
msg:
  appName: "饭酱"
  lunch: "午餐"
  dinner: "晚餐"
  orderClosed:
    - "你这家伙，找块豆腐一头撞死算了！ 你怎么可以忘记吃饭呢？！"
    - "给我等一下! 你这个木头人，为什么……为什么你就是注意不到嘛！"
    - "就算你不打电话给我，我也没什么寂寞的……"
    - "所以说只是从眼睛里流出来的汗啦！才~不~是眼泪呢！"
    - "才没有吃醋呢，你在说什么傻话啊！"
  orderAvailable:
    - "你还是老老实实定个闹钟起床啊! 干吗每次都非要我来叫醒你嘛~"
    - "你这个笨蛋! 根本不知道我的想法……"
    - "你可不许对我说“No”哦！"
    - "所以说我不想给别人看到啊！只想给你一个人……"
    - "所以说我最讨厌优柔寡断的家伙了！"
    - "才，才不是为了你才特意去找的啦。"
    - "要多多的和我联系！不然我会担心你的…"
    - "你、你这个家伙干什么嘛！明明已经有我了的说！呜呜……"
    - "啊……也好，既然你坚持要不理我也没办法了呢……"
    - "不准无视我！快给我道歉！"
  orderSuccess:
    - "是我选的你，你可别以为是你给了我机会哦!"
    - "你可别胡思乱想，我才不是特地为你做的！"
    - "吃吃吃吃吃吃、吃我什么的，你还早了100年呢!"
    - "唔，今天只有我们两个人的话……真是拿你没办法呢……"
    - "拉面都泡糟了啦！快点吃掉啦！诶，让我帮你吹吹？笨蛋啊你~"
    - "只、只准你看着我哦！"
    - "所以说别做些不正经的事了…对好不容易才和你在一起的我…"
    - "其实我也不是很想要这个……如果你硬要给我，我就勉为其难的收下了"
    - "这……这种事情，我当然知道，我……我可不是要说给你听的，我只是觉得你不知道的话太可怜了……对，就是这样……所以给我认认真真的记住！"
    - "够了！人家才不是专程来看你呢！只是路过而已别以为就……"
    - "我、我才没有为你担心！"
